$color-text: #E4E5EA;

$color-figure-gradient-1: rgba(237, 208, 255, 80%);
$color-figure-gradient-2: rgba(161, 93, 207, 30%);
$color-figure-gradient-3: rgba(118, 49, 164, 26%);
$color-figure-gradient-4: rgba(86, 24, 128, 29%);
$color-figure-gradient-5: rgba(255, 208, 208, 60%);
$color-figure-gradient-6: rgba(212, 93, 83, 31%);
$color-figure-gradient-7: rgba(167, 49, 49, 33%);
$color-figure-gradient-8: rgba(130, 25, 25, 29%);

$color-figure-shadow-1: rgba(177, 118, 217, 25%);
$color-figure-shadow-2: rgba(223, 125, 125, 25%);